@font-face {
    font-family: 'me_quran';
    src: url('../fonts/me_quran-webfont.woff2') format('woff2'),
    url('../fonts/me_quran-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: Scheherazade;
    src: url(../fonts/Scheherazade-Regular.woff);
}


.quran-text {
    /*font-family: me_quran;*/
    direction:rtl;
    font-size: 36px;
    text-align: justify;
    font-family: Scheherazade, Scheheraza;
    font-weight: normal;
}

#surah-nav {
    text-align: center;
    font-size: 16px;
}

#surah-header h2 {
    font-size: 30px;
}

#surah-header h2 small {
    display: block;
    color: #4d9200;
}

td.trans-text {
    font-size: 14px;
    font-family: Tahoma, Arial;
}

.trans-ug td.trans-text,
.trans-ur td.trans-text,
.trans-ur-ahmedali td.trans-text,
.trans-ur-jalandhry td.trans-text,
.trans-ur-jawadi td.trans-text,
.trans-ur-junagarhi td.trans-text,
.trans-ur-kanzuliman td.trans-text,
.trans-ur-najafi td.trans-text,
.trans-ur-qadri td.trans-text,
.trans-sd td.trans-text,
.trans-fa td.trans-text,
.trans-dv td.trans-text,
.trans-ku td.trans-text,
.trans-ml td.trans-text,
.trans-ml-karakunnu td.trans-text,
.trans-ar td.trans-text,
.trans-ar-jalalayn td.trans-text {
    direction: rtl;
    text-align: right;
}

.trans-ku td.trans-text {
    font-family: 'Unikurd Web', Tahoma, Arial;
}

.trans-dv td.trans-text {
    font-family: A_Ilham, A_Randhoo, A_Faruma, A_Waheed, 'Mv Faseyha', Tahoma, Arial;
    font-size: 15px;
}

.trans-ur-ahmedali td.trans-text,
.trans-ur-jalandhry td.trans-text,
.trans-ur-jawadi td.trans-text,
.trans-ur-junagarhi td.trans-text,
.trans-ur-kanzuliman td.trans-text,
.trans-ur-najafi td.trans-text,
.trans-ur-qadri td.trans-text,
.trans-ur td.trans-text {
    font-family: 'Microsoft Uighur', Scheherazade, Lateef, Tahoma;
    font-size: 24px;
}

.trans-ug td.trans-text {
    font-family: 'Microsoft Uighur', 'UKIJ Nasq', Scheherazade, Lateef, 'UKIJ Tuz', 'UKIJ Basma', Arial;
    font-size: 24px;
}